/* ---------------------------------------------------------- CREATE ROOM ---------------------------------------------------- */

/* .pilihan {
  margin-top: 300px;
}

.kertas {
  margin-top: 110px;
}

.tombolPilihan {
  margin-left: 180px;
  margin-top: 200px;
} */

/* ---------------------------------------------------------- PVP ---------------------------------------------------- */

/* .playerChoice {
  margin-top: 100px;
}

.roomName {
  margin-top: 50px;
}

.judgement {
  margin-top: 330px;
  margin-left: 35px;
}

.refresh {
  margin-top: 150px;
} */

/* ---------------------------------------------------------- VS COM ---------------------------------------------------- */

/* .playerChoice {
  margin-top: 100px;
}

.roomName {
  margin-top: 50px;
}

.judgement {
  margin-top: 330px;
  margin-left: 35px;
}

.refresh {
  margin-top: 150px;
} */

/* ---------------------------------------------------------- GAME HISTORY ---------------------------------------------------- */
